.git
.gitignore
.idea
.vscode

.venv
.venv32
venv
env

__pycache__
*.py[cod]
*.log

.env
.env.*

db.sqlite3
db.sqlite3-journal
media
staticfiles

*.accdb
*.mdb
*.ldb

.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache

build
dist
*.egg-info

tmp
temp
*.tmp
*.bak
